<div class="container-fluid main-footer">
    
    <div class="container">
        <div class="row">
            <div class="hidden-xs help col-lg-4 col-md-4 col-xs-6">
                <h4>帮助</h4>
                <h5>FAQ</h5>
                <h5>联系我们</h5>
                <h5>用户政策</h5>
                <h5>隐私和知识产权政策</h5>

            </div>
            <div class="hidden-xs about col-lg-4 col-md-4 col-xs-6">
                <h4>关于众客</h4>
                <h5>介绍</h5>
                <h5>团队</h5>
                <h5>我们的新闻</h5>
            </div>


        </div>
    </div>



    <div class="company">
        <p>
            <img alt="众客 Joker" style="height:20px" src="/images/logo-sm.png" />
            <br/>厦门众客教育科技 inc. @2016
        </p>
    </div>



</div>
</body>

</html>