<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

	<title>
		<%= title %>
	</title>

	<!-- Bootstrap -->
	<!--  flatly-->
	<link href="/styles/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/js/jquery-1.12.3.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- End Bootstrap -->

	<!-- Header -->
	<link href="/styles/joker.css" rel="stylesheet">
	<link rel="stylesheet" href="/styles/bs-horizon.css">
	<script src="/js/joker.js"></script>
</head>

<body>




	<!-- 导航条 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!--图标 Logo-->
			<div class="navbar-header">
				<!-- 移动设备下拉按钮，信息来自 .collapse -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>


				<a class="navbar-brand" href="/">
					<img alt="众客 Joker" style="height:20px;" src="http://7xpa8z.com1.z0.glb.clouddn.com/logo-sm.png" />
				</a>
			</div>

			<!-- 图标以外的 -->
			<div id="navbar" class="navbar-collapse collapse">
				<!--导航tab-->
				<ul class="nav navbar-nav nav-tab">
					<li><a href="/">首页</a></li>
					<li><a href="/start">创建项目</a></li>

				</ul>
				<!--搜索-->
				<!--<form class="nav navbar-form navbar-left whole-search" role="search" id="whole-search">-->
				<form class="nav navbar-left navbar-form whole-search" id="whole-search">
					<div class="input-group">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">搜索</button>
						</span>
					</div>
				</form>

				<!-- 登录 -->
				<!-- Emmet: c + tab = 注释  -->
				<ul class="nav navbar-nav navbar-right" style="margin-right:2px;">
					<% if(user){ %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<%= user.name %> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/profile#ui-id-2">支持过的项目</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/profile#ui-id-4">创建的项目</a></li>


							</ul>
						</li>
						<% } %>
							<% if(!user) { %>
								<button type="button" onclick="location.assign('/login');" class="btn btn-default navbar-btn">登录</button>
								<button type="button" onclick="location.assign('/register');" class="btn btn-default navbar-btn">注册</button>
								<% }else{ %>
									<button type="button" onclick="location.assign('/logout');" class="btn btn-default navbar-btn">登出</button>
									<% } %>

				</ul>
			</div>
		</div>
	</nav>




	<script>
		$(function(){
			// 注意！routes传入的参数是不可能在浏览器中看到的！不然user不就都被读取了吗？
			// if(success || error){
			// 	checkFlash(success,error);
			// }
			<% if(success || error){ %>
				alert("<%= success || error %>")
			<% } %>
		});
	</script>
	
	<!-- 注意分隔，可能出错的script应该独自成块，不然下面的代码在错误后将不再运行 -->
	
	<script>
		
		$(function(){
			// 取消原有一切submit, 不过本来也没有
			// $('#whole-search').off('submit');
			
			$('#whole-search').submit(function(){
                // 取消原本HTML自带的form操作
                event.preventDefault();
                var val = $('#whole-search input').val();
                if(val.length > 0){
                    search(val,$('body'));
                }
            })
		});
	</script>