<div class="project-panel col-xs-12 col-md-10 col-lg-10 col-sm-10">
    <h2 class="project-panel-title"><%=project.title%> - 订单信息</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th></th>
            </tr>
        </table>
    </div>
</div>