<%- include header %>

    <div class="container project-panel">


        <div class="row">
            <!-- Nav tabs -->
            <div class="nav-tabslist">
                <ul class="nav nav-pills nav-stacked col-lg-2" role="tablist">
                    <li role="presentation" class=""><a href="#orders" data-toggle="tab">订单</a></li>
                    <li role="presentation"><a href="#updates" data-toggle="tab">更新</a></li>
                    <li role="presentation"><a href="#settings" data-toggle="tab">设置</a></li>
                </ul>

            </div>

            <!-- Tab panes -->
            <div class="tab-content col-lg-10">
                <div role="tabpanel" class="tab-pane" id="orders"></div>
                <div role="tabpanel" class="tab-pane" id="updates">...profile</div>
                <div role="tabpanel" class="tab-pane" id="settings">...messages</div>
            </div>
        </div>


    </div>

    <script>
        $(function(){
            // 在 click() 之前规定函数哦！
            $('.nav-pills a[href=\"#orders\"]').click(function(){
                getJSONorders(location.search.substring("?proj_id=".length),$('#orders'));
            })
            
        })
    </script>
    
    <script>
        $(function(){
            // tab() 显示该tab click() 执行绑定的异步函数。因此本行应在所有异步设置之后(.click(func) 之后)
            $('.nav-pills a[href=\"'+window.location.hash+"\"]").tab('show').click();

            window.onhashchange = function(){
                $('.nav-pills a[href=\"'+window.location.hash+"\"]").tab('show');
            };
        })
    </script>



    <%- include footer %>