<%- include header %>


    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>



    <script>
        //ready,都放在一个函数里，保证执行顺序
        //$(previewPic());
        $(function(){
            
            //对跳转或关闭网页进行拦截
            window.onbeforeunload = function(e){ 
                var e = e || window.event;
                e.returnValue = "确认要离开吗？已填写的信息不会保留。";
            }
            
            // 按照桌面大小修改最小大小，以防footer紧跟from
            // 120 = header 50 + tab 50 + margin 20
            var min_height_set = function(){
                $('#start-main-container').css('min-height',$(window).height()-120);
            };
            min_height_set();
            // -------------------------
            
            // 初始化图片加载
            var upload_init = function() {
                var fileInput = document.getElementById('feature_image');
                var preview = document.getElementById('image-preview');
                var $preview = $(preview);
                
                var fileInput2 = document.getElementById('author_photo');
                var preview2 = document.getElementById('image-preview2');
                var $preview2 = $(preview2);
                
                
                fileInput.addEventListener('change', function () {
                    if (!fileInput.value) {
                        return;
                    }
                    // preview.style.backgroundImage = '';
                    $preview.show();
                    var file = fileInput.files[0];
                    
                    if (file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
                        alert('不是有效的图片文件!');
                        return;
                    }
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var
                            data = e.target.result;
                            index = data.indexOf(';base64,');
                        preview.style.backgroundImage = 'url(' + data + ')';
                    };
                    reader.readAsDataURL(file);
                });
                
                
                fileInput2.addEventListener('change', function () {
                    if (!fileInput2.value) {
                        return;
                    }
                    // preview.style.backgroundImage = '';
                    $preview2.show();
                    var file = fileInput2.files[0];
                    
                    if (file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
                        alert('不是有效的图片文件!');
                        return;
                    }
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var
                            data = e.target.result;
                            index = data.indexOf(';base64,');
                        preview2.style.backgroundImage = 'url(' + data + ')';
                    };
                    reader.readAsDataURL(file);
                });
                    
            };
            upload_init();
            
            
            // -------------------------
            // 删除 按钮 初始化
            var del_init = function(){
                
                // $('#rwcount').text($('.reward-item').length);
                // console.log('del_init');
                
                
                // 第一个删除按钮设为不允许, 并且移除响应
                // 太麻烦，不如直接在删除的时候计数
                // var first_del_btn = $('.deleteItem').first();
                // first_del_btn.attr('class',first_del_btn.attr('class')+" disabled");
                // first_del_btn.off()
                
                // 删除的时候，计数变得非常麻烦。要重新标记 标题#? 和 name="?"
                // 这个在处理提交表单的时候再说
                
                // 因为要多次绑定，先删除一次
                $('.deleteItem').off();
                $('.deleteItem').click(function(){
                    if($('.deleteItem').length === 1){
                        alert('至少设置一个哦!');
                    }else{
                        $(this).parents('.reward-item').slideToggle(300,function(){
                            this.remove();
                        });
                    }
                    
                });
            }
            
            del_init();
            
            // -------------------------
            // 添加新的选项初始化
            var new_item_init = function() {
                var btn = $('#reward-add-button');
                btn.hover(function(){
                    $(this).css('background-color','#f8f8f8');
                }, function(){
                    $(this).css('background-color','#fff');
                })
                btn.click(function(){
                    if($('.reward-item').length >= 10){
                        alert('最多10条哟。')
                    }
                    var lastOne = $('.reward-item').last();
                    var cloneWithData = lastOne.clone();
                    // 删除全部已经填好的数据
                    cloneWithData.find(':input').each(function() {
                        this.value = null;
                    })
                    // 重命名表单名称，第一个是0，所以有几个就
                    cloneWithData.attr('name','rwitem'+$('.reward-item').length);
                    
                    // 重命名标题#?
                    cloneWithData.find('span.count').text($('.reward-item').length + 1);
                    
                    // 添加之前先隐身
                    cloneWithData.hide();
                    lastOne.after(cloneWithData);
                    // 加了之后在动画显示
                    cloneWithData.slideToggle(300);
                    
                    // 达到10个就隐藏添加按钮吧
                     if($('.reward-item').length >= 10){
                         $('#reward-add-button').slideToggle(300);
                    }
                    
                    // 务必在加完之后，重新执行下删除按钮的绑定！否则新添加的项目的删除按钮指向原来父亲元素
                    del_init();
                })
                
            };
            
            new_item_init();
            // -------------------------
            // 隐藏图片显示
            $('#image-preview').hide();
            $('#image-preview2').hide();
            
        });
    </script>
    <!-- 定义提交时候响应的function -->
    <script>
        // var ajaxCommit = function(){
            
        //     var allItems = [];

        //     // to json string 已经完成，接下来就是ajax传表单，然后服务端解析了！
        //     // https://developer.mozilla.org/zh-CN/docs/Web/Guide/HTML/Forms/Sending_forms_through_JavaScript#.E5.8F.91.E9.80.81.E4.BA.8C.E8.BF.9B.E5.88.B6.E6.95.B0.E6.8D.AE
            
        //     var xhr = new XMLHttpRequest();
        //     var FD = new 
            
        //     $('.reward-item-details').each(function(){
                
        //         var oneItem = {}; // will be convert into json 

        //         // console.log($(this).find('[name=rwcount]').val().trim());
        //         // console.log($(this).find('[name=rwdetails]').val().trim());
        //         // console.log($(this).find('[name=rwdate]').val().trim());
        //         // console.log($(this).find('[name=rwlimited]').val().trim());
                
        //         oneItem.rwcount= $(this).find('[name=rwcount]').val().trim();
        //         oneItem.rwdetails = $(this).find('[name=rwdetails]').val().trim();
        //         oneItem.rwdate = $(this).find('[name=rwdate]').val().trim();
                
        //         if($(this).find('[name=rwlimited]').prop('checked') === true){
        //             oneItem.rwlimited = 0; // for unlimited
        //         }else{
        //             oneItem.rwlimited = $(this).find('[name=rwlimitnum]').val().trim();    
        //         }
                
        //         allItems.push(JSON.stringify(oneItem));
        //         // all you need is JSON.parse()
            
        //     });
            
        // });
        // }
    </script>
    <div id="start-main-container" class="container">
        <div id="commit-alert">
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>欢迎您开始一项伟大的项目！</strong> 您可以依次填写每个选项卡中的内容，一旁的小提示希望能给您带来帮助 : )<br/> 您遇到任何问题或者想提出建议都可以点击界面最下方的“帮助”和我们取得联系。
            </div>
        </div>

        <form method="post" id="start-form" enctype="multipart/form-data">

            <!-- tabs -->

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-basic">基本信息</a></li>
                <li><a data-toggle="tab" href="#tab-reward">支持选项</a></li>
                <li><a data-toggle="tab" href="#tab-story">故事</a></li>
                <li><a data-toggle="tab" href="#tab-about">关于发起者</a></li>
                <li><a data-toggle="tab" href="#tab-append">附加信息</a></li>

                <div class="button-group" style="float:right">
                    <button type="button" class="btn btn-success" style="width:80px">预览</button>
                    <!--<button type="submit" class="btn btn-primary" style="margin-left:20px;width:120px">提交审核</button>-->
                    <button onclick="ajaxCommit()" type="button" class="btn btn-primary" style="margin-left:20px;width:120px">提交审核</button>
                </div>


            </ul>

            <!-- tab contents -->

            <div class="tab-content">

                <!-- basic -->
                <div id="tab-basic" class="tab-pane fade in active">

                    <!-- 文字提示 -->
                    <div class="start-tips">
                        <h2 class="text-center">
                        发起你的项目!
                    </h2>
                        <h3 class="text-center">
                        添加图片，简短介绍，筹资目标，期限等细节。
                    </h3>
                    </div>

                    <!-- 输入框 -->
                    <!-- form-control for 100% width -->
                    <div class="project-inputs">
                        <div class="form-group">
                            <label for="projectNameInput">项目名称</label>
                            <input type="text" class="form-control" name="title" id="projectNameInput" placeholder="1-10字" maxlength="10" minlength="1">
                        </div>
                        <div class="form-group">
                            <label for="projectInfoInput">简短介绍</label>
                            <textarea class="form-control ta-noresize" name="short_blurb" id="projectInfoInput" rows="3" placeholder="1-140字" maxlength="140"
                                minlength="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="feature_image">封面图片</label>

                            <div id="image-preview" style="width: 100%; height: 200px; background-size: contain; background-repeat: no-repeat; background-position: center center;"></div>

                            <input type="file" id="feature_image" name="feature_image">

                        </div>


                        <div class="form-group" id="category-group">
                            <label for="category">类别</label>
                            <select multiple class="form-control" name="category" size="8" id="category-select">
                                
                                <option value="lib">文学历史</option>
                                <option value="sci">数学理工</option>
                                <option value="finance">金融管理</option>
                                <option value="tech">数码科技</option>
                                <option value="arts">艺术美术</option>
                                <option value="health">医学心理</option>
                                <option value="edu">教育</option>
                                <option value="other">其他</option>
                                
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="funding_goal">众筹金额目标</label>
                            <div class="input-group">
                                <span class="input-group-addon">¥</span>
                                <input type="number" class="form-control" name="funding_goal" id="funding_goal" placeholder="众筹目标">
                                <span class="input-group-addon">元</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="durationInput">众筹期限</label>
                            <div class="input-group">
                                <input type="number" class="form-control" name="funding_duration" id="durationInput" placeholder="推荐30天或更短">
                                <span class="input-group-addon">天</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default tips-and-preview">

                        <div class="panel-heading">提示</div>
                        <div class="panel-body">

                            <p>How to price Price fairly, and offer a good value. What would you consider a fair exchange? Something
                                fun for $10 or less is always a good idea. Backers based in the U.S. will always see reward
                                amounts and funding goals reflected in USD. Funds that backers pledge to account for shipping
                                costs will count towards your project's funding goal. Keep this in mind when setting your
                                goal. Use the shipping tool to add delivery costs for any country you like (including your
                                own). The price will be added to backer's pledges as they check out.</p>

                        </div>

                    </div>

                </div>



                <!-- reward -->
                <div id="tab-reward" class="tab-pane fade ">
                    <!-- 文字提示 -->
                    <div class="start-tips">
                        <h2 class="text-center">
                        支持项目有怎样的选项和回报？
                    </h2>
                        <h3 class="text-center">
                        考虑你的受众人群，为支持者提供多变的选择。
                    </h3>
                    </div>

                    <!-- 回报设置 -->


                    <div class="project-inputs">

                        <!-- 一个回报 -->
                        <div class="reward-item row" name="rwitem0">
                            <!-- 左侧标题 -->
                            <div class="countTitile col-lg-3 col-md-3">
                                <h5>众筹选项#<span id="rwcount" class="count"></span></h5>

                                <button type="button" class="deleteItem btn btn-danger">删除</button>
                            </div>

                            <!-- 右侧详情 -->
                            <div class="reward-item-details col-lg-9 col-md-9">

                                <table class="table table-striped">

                                    <tr>
                                        <!-- 不强制宽度就会换行，在里面有input-group的情况下-->
                                        <td style="width:130px">投资金额</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">¥</span>
                                                <input type="number" class="form-control item-data" name="rwcount" placeholder="金额">
                                                <span class="input-group-addon">元</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>投资回报</td>
                                        <td><textarea name="rwdetails" class="form-control ta-noresize item-data" rows="3" placeholder="1-140字"
                                                maxlength="140" minlength="1"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td>预期上线时间</td>
                                        <td><input type="date" name="rwdate" class="form-control item-data"></td>
                                    </tr>
                                    <tr>
                                        <td>限制人数</td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    勾选来限制 <input type="checkbox" name="rwlimited" class="item-data">
                                                </span>
                                                <input type="number" name="rwlimitnum" class="form-control item-data">
                                                <span class="input-group-addon">人</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                        <!-- end 一个回报 -->
                        <!-- 添加选项 -->
                        <div class="reward-add-button row" id="reward-add-button">

                            <h3>+ 添加一条选项</h3>

                        </div>



                    </div>

                    <div class="panel panel-default tips-and-preview">

                        <div class="panel-heading">提示</div>
                        <div class="panel-body">

                            <b>预期上线时间为什么要单独设置？</b><br/> 由于不同的回报可能包含不同范围，不同形式内容。
                            <ul class="ul">
                                <li>你可以设置允许投资者看部分课程，这部分课程可能是较早就能完成的</li>
                                <li>允许投资者尽快尝鲜，可以在课程尚未上线前，提供Beta体验</li>
                                <li>多样的教学方式，比如1对1在线讲解、实体书籍材料可能和在线视频的完成时间不一致</li>
                            </ul>
                            </p>
                        </div>
                    </div>

                </div>
                <!-- end reward -->


                <!-- story 故事 -->
                <div id="tab-story" class="tab-pane fade">
                    <!-- 文字提示 -->
                    <div class="start-tips">
                        <h2 class="text-center">
                        课程的具体内容是什么？
                    </h2>
                        <h3 class="text-center">
                        可以填写教学目标、内容安排的详情情况、课程大纲、授课计划等具体细节。<br/>
                        请尽量详尽的介绍，丰富具体的解释更富有吸引力，有助于更快达成您的筹资目标
                    </h3>
                    </div>



                    <div class="project-inputs">
                        <div class="form-group">
                            <label for="projectInfoInput">详细说明</label>
                            <script id="container" type="text/plain" name="description" style="height:400px">项目的目标，课程内容安排的详情情况，课程大纲，授课计划...</script>
                            <!--<textarea class="form-control" name="description" id="projectInfoInput" rows="3"></textarea>-->
                        </div>


                        
                    </div>


                    <div class="panel panel-default tips-and-preview">

                        <div class="panel-heading">提示</div>
                        <div class="panel-body">

                            <b>预期上线时间为什么要单独设置？</b><br/> 由于不同的回报可能包含不同范围，不同形式内容。
                            <ul class="ul">
                                <li>你可以设置允许投资者看部分课程，这部分课程可能是较早就能完成的</li>
                                <li>允许投资者尽快尝鲜，可以在课程尚未上线前，提供Bata体验</li>
                                <li>多样的教学方式，比如1对1在线讲解、实体书籍材料可能和在线视频的完成时间不一致</li>
                            </ul>
                            </p>
                        </div>
                    </div>

                </div>


                <!-- about -->
                <div id="tab-about" class="tab-pane fade">
                    <!-- 文字提示 -->
                    <div class="start-tips">
                        <h2 class="text-center">
                        来介绍下自己吧！
                    </h2>
                        <h3 class="text-center">
                        仔细介绍自己的知识背景，可以让人更加信服
                    </h3>
                    </div>

                    <div class="project-inputs">

                        <div class="form-group">
                            <label for="authorNameInput">名称 (推荐使用真名)</label>
                            <input type="text" class="form-control" name="author_name" id="authorNameInput" placeholder="发起人的名称">
                        </div>
                        <div class="form-group">
                            <label for="author_photo">照片</label>

                            <div id="image-preview2" style="width: 100%; height: 200px; background-size: contain; background-repeat: no-repeat; background-position: center center;"></div>
                            <input type="file" name="author_photo" id="author_photo">
                        </div>

                        <div class="form-group">
                            <label for="author_bio">介绍</label>
                            <textarea class="form-control ta-noresize" name="author_bio" id="author_bio" rows="3" placeholder="发起人的介绍，微博，公众号等等详情，1-140字"
                                maxlength="140" minlength="1"></textarea>
                            <!--<input type="text" class="form-control" name="author_bio" id="author_bio" placeholder="发起人的介绍，微博，公众号等等详情">-->
                        </div>

                        <div class="form-group">
                            <label for="author_email">Email (默认支持者看不到)</label>
                            <input type="email" class="form-control" name="author_email" id="author_email" placeholder="发起人的电子邮箱地址">
                        </div>
                        <div class="form-group">
                            <label for="author_contact">电话 (默认支持者看不到)</label>
                            <input type="text" class="form-control" autocomplete="tel" name="author_contact" id="author_contact" placeholder="发起人的联系电话">
                        </div>
                        <div class="form-group">
                            <label for="authorLocationInput">发起人地址 (默认支持者看不到)</label>
                            <input type="text" class="form-control" name="author_location" id="authorLocationInput" placeholder="发起人的通讯地址">
                        </div>

                    </div>


                    <div class="panel panel-default tips-and-preview">

                        <div class="panel-heading">提示</div>
                        <div class="panel-body">

                            <b>预期上线时间为什么要单独设置？</b><br/> 由于不同的回报可能包含不同范围，不同形式内容。
                            <ul class="ul">
                                <li>你可以设置允许投资者看部分课程，这部分课程可能是较早就能完成的</li>
                                <li>允许投资者尽快尝鲜，可以在课程尚未上线前，提供Bata体验</li>
                                <li>多样的教学方式，比如1对1在线讲解、实体书籍材料可能和在线视频的完成时间不一致</li>
                            </ul>
                            </p>
                        </div>
                    </div>


                </div>


                <!-- append -->
                <div id="tab-append" class="tab-pane fade">

                    <!-- 文字提示 -->
                    <div class="start-tips">
                        <h2 class="text-center">
                        还有要确认和备注的内容吗？
                    </h2>
                        <h3 class="text-center">
                        为支持者附上用于提示、感谢的留言，给平台审核者提供必要的备注信息
                    </h3>
                    </div>

                    <div class="project-inputs">

                        <div class="form-group">
                            <label for="email_append">附言</label>
                            <textarea class="form-control ta-noresize" name="email_append" id="email_append" rows="3" placeholder="附言将显示在支持者参与众筹之后，系统发出的确认和感谢Email和站内信中"
                                maxlength="140" minlength="1"></textarea>
                            <!--<input type="text" class="form-control"  name="email_append" id="email_append" placeholder="附言将显示在支持者参与众筹之后，系统发出的确认和感谢Email和站内信中">-->
                        </div>

                        <div class="form-group">
                            <label for="risk_challenges">风险、挑战、身份认证以及备注</label>
                            <textarea class="form-control ta-noresize" name="risk_challenges" id="risk_challenges" rows="3" placeholder="" maxlength="140"
                                minlength="1"></textarea>
                            <!--<input type="text" class="form-control" name="risk_challenges" id="risk_challenges" placeholder="推荐30天或更短">-->
                        </div>
                        
                        <div class="form-group">
                            <label for="video">视频介绍地址</label>
                            <input type="url" class="form-control" name="videourl" id="video" placeholder="请输入优酷, 土豆, bilibili等视频网站地址">
                        </div>
                    </div>


                    <div class="panel panel-default tips-and-preview">

                        <div class="panel-heading">提示</div>
                        <div class="panel-body">

                            <b>备注可以填写什么？</b> <br/> 风险、挑战、身份认证以及备注等一切您认为有助于平台了解您和您的项目的周边信息。
                            <ul class="ul">
                                <li>您可以注明您在知乎、豆瓣、果壳、其他知名论坛/小组、微博、微信公众号、独立博客等的身份，我们认证之后将会为您加V标注！</li>
                                <li>如果项目有特殊的达成条件，或者回报方式，您认为需要着重点明的，请在此备注</li>
                                <li>多样的教学方式，比如1对1在线讲解、实体书籍材料可能和在线视频的完成时间不一致</li>
                            </ul>
                            </p>
                        </div>
                    </div>

                </div>

            </div>


            <!-- end tabs -->











        </form>
    </div>
    <!-- 最后再实例化，加快加载 -->
    <script>
        var ue = UE.getEditor('container');
    </script>
    <script>
        $(function(){
            $($('#navbar ul.nav-tab li')[1]).addClass('active');
        })
    </script>
    <%- include footer %>