<%- include header %>
<form method="post">
<div class="form-group">
<label for="projectNameInput">项目名称</label>
    <input type="text" class="form-control" name="projectTitle" id="projectNameInput" placeholder="项目名称">  
</div>  
<div class="form-group">
<label for="projectInfoInput">简短说明</label>
<textarea class="form-control"  name="shortBlurb" id="projectInfoInput" rows="3"></textarea>
</div>
<div class="form-group">
<label for="goalInput">众筹金额目标</label>
    <input type="text" class="form-control" name="goal" id="goalInput" placeholder="众筹金额目标"> 
</div>
<div class="form-group">
<label for="durationInput">众筹期限</label>
    <input type="text" class="form-control" name="duration" id="durationInput" placeholder="推荐30天或更短"> 
</div>
<div class="form-group">
<label for="authorNameInput">发起人/组织</label>
    <input type="text" class="form-control" name="authorName" id="authorNameInput" placeholder="发起人/组织"> 
</div>
<div class="form-group">
<label for="authorLocationInput">发起人地址</label>
    <input type="text" class="form-control" name="authorLocation" id="authorLocationInput" placeholder="发起人地址"> 
</div>

 <input type="submit" value="提交审核" />
</form>
<%- include footer %>
