body {
	padding-top: 50px;
	
}

#start-main-container {
	margin-top:20px;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


/* only way to comment */
/* use Command+ / to toggle a line*/
/* ----- my design ----- */
.tab-content {
	margin-top: 30px;
}

.start-tips {
	margin: 20px;
}
.project-inputs {
	float:left;
	width:70%;
}


.tips-and-preview {
	float:left;
	width:27%;
	margin-left: 3%;
	
}

.ta-noresize {
	resize: none;
}

#category-select>option{
    height: 2em;
    padding: 0.5em;
}

.project-card>img{
	/*max-height: 300px;*/
	/*无效！因为在overflow里*/
	/*clip: rect(0px,50px,50px,0px);*/
}